h3 {
  font-size: 36px;
}
.header {
    width: 100%;
    text-align: center;
    color: #ffb3b3;
    background-color: #5a2d0c;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid #330033;
    font-size: 16px;
    font-family: 'Ubuntu Condensed', sans-serif;
  }
